@charset "UTF-8";

html {
    min-height: 100%;
}

:root {
  --surface-a:#1e1e1e;
  --surface-b:#121212;
  --surface-c:rgba(255, 255, 255, 0.03);
  --surface-d:#383838;
  --surface-e:#1e1e1e;
  --surface-f:#1e1e1e;
  --text-color:rgba(255, 255, 255, 0.87);
  --text-color-secondary:rgba(255, 255, 255, 0.6);
  --primary-color:#BA68C8;
  --primary-color-text:#ffffff;
  --font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --surface-0: #121212;
  --surface-50: #181818;
  --surface-100: #1e1e1e;
  --surface-200: #242424;
  --surface-300: #2a2a2a;
  --surface-400: #303030;
  --surface-500: #363636;
  --surface-600: #3b3b3b;
  --surface-700: #414141;
  --surface-800: #474747;
  --surface-900: #4d4d4d;
  --content-padding:1rem;
  --inline-spacing:0.5rem;
}

body {
    height: 100%;
}

.navbar {
    border-radius: 0;
    transition: all 0.2s ease;

    &.offset-top {
        background-color: rgba(#000000, 0.0);
        top: 30px;
    }
}

.teaser {
    background-image: url("{{ .Site.BaseURL }}/images/teaser.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 834px;

    .title {
        margin-top: 300px;
        font-size: 400%;
        font-weight: 800;
    }

    .subtitle {
        color: hsl(240, 10%, 75%);
        padding-top: 20px;
        margin-bottom: 20px !important;
    }
}

.wrapper {
    min-height: 100vh;
}

.wrapper::before {
    background-image: url("{{ .Site.BaseURL }}/images/noise1.png");
    content: " ";
    position: fixed;
    opacity: 0.6;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-content {
    img:not(.icon), video {
        max-width: 100%;
        margin: 20px auto;
        display: block;
        height: auto;
        width: 100%;
    }

    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }
    
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.button {
    padding: 20px;

    .icon {
        margin-left: 10px !important;
        margin-right: 0 !important;
    }
}

.latest-news {
    margin-right: 10px;
    margin-bottom: -2px;
    margin-top: 60px;
    margin-left: 40px;
}

.tag {
    margin-bottom: 10px;
    margin-right: 10px;
}

.date {
    margin-bottom: -6px;
    margin-right: 5px;
}

.post-date {
    margin-top: 10px;
    font-size: 90%;
    color: hsl(240, 10%, 75%);
}

.latest-news-title {
    margin-bottom: 20px !important;
    margin-top: 40px;
}

@media screen and (min-width: 1024px) {
    .latest-news {
        margin-left: 0;
    }

    .post-snippets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .post-snippet {
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .post-snippet + .post-snippet {
            margin-left: 2%;
          }
    }
}

.post-snippet {
    padding: 40px;
    background-color: rgba(#000000, 0.2);
    margin-bottom: 20px;

    h2 {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
}

.button.is-primary.is-outlined {
    color: hsl(269, 100%, 85%);
    border-color: hsl(269, 100%, 85%);
}

.button.is-primary.is-outlined:hover {
    background-color: hsl(269, 100%, 85%);
    border-color: hsl(269, 100%, 85%);
    color: #fff;
}

a.navbar-item:focus {
    color: hsl(269, 100%, 85%);
}

.post-content {
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
        margin-top: 60px;
        color: hsl(269, 100%, 85%);
    }

    h2 {
        font-size: 120%;
        color: hsl(269, 100%, 85%);
        font-weight: normal;
    }

    h3 {
        font-size: 100%;
        color: hsl(269, 100%, 85%);
        font-weight: normal;
    }

    p {
        margin: 20px auto;
        color: hsl(240, 10%, 75%);
    }

    li {
        color: hsl(240, 10%, 75%);
    }

    .post-snippet {
        h2 {
            font-size: 1.75em;
        }
    }
}

a {
    color: hsl(269, 100%, 85%);
}

.navbar-dropdown {
    background-color: hsl(269, 100%, 85%);
}

a:hover, a.navbar-item:hover, a.navbar-link:hover {
    color: hsl(269, 100%, 95%);
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .grow-content {
        flex-grow: 1;
    }
}

.footer {
    .copyright, .heading {
        color: hsl(240, 10%, 75%);
    }

    .copyright div {
        margin-bottom: 10px;
    }

    .icon {
        margin-bottom: -5px;
        margin-right: 10px;
    }

    a {
        color: #fff;

        &:hover {
            color: hsl(240, 10%, 75%);
        }
    }

    .item, .heading {
        margin-bottom: 10px;
    }
}

.social-section {
    margin-top: 60px;
}

.translation-link:not(:last-of-type):after {
    content: " / "
}

.triple-image {
    .column:not(:first-of-type) {
        padding-left: 2px;
    }

    .column:not(:last-of-type) {
        padding-right: 2px;
    }
}

.posts-more {
    float: right;
    font-size: 120%;
    font-weight: bold;
}